{% extends 'base.html' %}


{% block page_name %}
    Home
{% endblock page_name %}

{% block content %}

    {% for room in page.object_list %}
        <h1>{{room.name}} / ${{room.price}}</h1>
    {% endfor %}

    <h5>
    {% if page.has_previous %}
        <a href="?page={{page.previous_page_number}}">Previous</a>
    {% endif %}
        Page {{page.number}} Of {{page.paginator.num_pages}}
    {% if page.has_next %}
        <a href="?page={{page.next_page_number}}">Next</a>
    {% endif %}
    </h5>
    {% comment %} 장고 템플렛에서는 함수를 부를 때 ()를 사용하지 않아도 자동적으로 불러옴 {% endcomment %}


{% endblock content %}